*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #EFFAF4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.title{
    margin-bottom: 20px;
    color: #2DCC6F;
}

.bookmark-input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: bold;
}

.add-bookmark{
    width: 100%;
    padding: 10px;
    background-color: #2DCC6F;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.Bookmark-items{
    margin-top: 20px;
}

.bookmark-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
}

.bookmark-name{
    font-weight: bold;
    color: #2DCC6F;
    text-decoration: none;
}

.bookmark-name:hover{
    text-decoration: underline;
}
.remove-bookmark{
    background-color: #FF4C4C;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}