* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Container {
    width: 35%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #2C5B6D;
    font-weight: bolder;
    overflow: hidden;
}

.Container-Header {
    background-color: #764AF7;
    color: white;
    padding: 15px;
    font-size: 0.8rem;
}

.Container-Input-BtnAdd {
    background-color: #F8FAF9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.Container-Input-BtnAdd>input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Container-Input-BtnAdd>button {
    padding: 10px;
    background-color: #764AF7;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.Container-Status{
    display: flex;
    gap: 20px;
    padding: 15px;
    list-style-type: none;
    border-bottom:  1px solid #00000050;
}

.Container-Status > li{
    cursor: pointer;
}

.Container-Status > li:hover{
    color: #764AF7;
    border-bottom:  2px solid #764AF7;
}

.Selected-Status{
    color: #764AF7;
    border-bottom:  2px solid #764AF7;

}

.Task-Item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px;
    font-size: 1.1rem;
}

.Checkbox-item {
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
  accent-color: green; 
}

.Checked{
    text-decoration: line-through;
    opacity: 0.5;
}

.Unchecked{
    text-decoration: none;
    opacity: 1;
}

.Container-Footer{
    background-color: #F8FAF9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.Completed-Status-Selected{
    color: brown;
    cursor: pointer;
    display: none;
}

.No-Task-Yet{
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    display: none;
}

