*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin-bottom: 20px;
    text-align: center;
}

.Container{
    display: flex;
}

.Column{
    background-color: #e2e4e6;
    border-radius: 5px;
    width: 300px;
    margin: 10px;
    text-align: center;
}

h2{
    opacity: 0.5;
}
.Card{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: grab;
}